* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    font-family: $base-font;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
}

.section-heading {
    margin: 0 auto;
    max-width: 670px;
    text-align: center;
    color: rgb(33, 33, 33);

    &__title {
        font-size: 30px;
        font-weight: 400;
    }

    &__description {
        margin-top: 35px;
        font-size: 15px;
    }
}